.edit-user-popup{
  min-width: 300px;
}

.edit-user-field{
  display: flex;
  flex-direction: column;
  min-width: 100px;
}

.example-radio-button {
  margin: 10px 10px 10px 0;
}

.example-selected-value {
  margin: 15px 0;
}

.example-checkbox {
  margin: 10px 10px 10px 0;
}